.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;
}

.title {
  position: absolute;
  left: 25px;
  top: 300px;
  z-index: 10;
}

.edit-button {
  position: absolute;
  right: 120px;
  top: 20px;
  z-index: 10;
}

.delete-button {
  position: absolute;
  right: 50px;
  top: 20px;
  z-index: 10;
}

.appbar-image-div {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 110%;
  max-height: 400px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.appbar-image {
  min-width: 110%;
  min-height: 400px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  filter: brightness(60%);
}

.delete-dialog {
  position: absolute;
}
